.btn{
    cursor: pointer;
    appearance:none;
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        margin-right: 3px;
    }

    &:disabled{
        cursor: not-allowed;
        pointer-events: none;
    }
}