.row{
    display: flex;

    & + & {
        margin-top: 40px;
    }

    .side{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .bg{
        width: 480px;
        height: 340px;
        background-color: #ececec;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: calc(50% - 240px);
        z-index: 1;
    }

    iframe{
        z-index: 2;
    }
    .w100{
        width: 100%;
    
        & + &{
            margin-top: 12px;
        }
    }
    
    .title{
        color: #e6492d;
        font-weight: 700;
        font-size: 1.25rem;
    }
    
    .subTitle{
        margin-top: 6px;
        font-weight: 500;
    }
    
    .action{
        display: flex;
        .btn{
            border: none;
            background-color: white;
    
            + .btn {
                margin-left: 1rem;
            }
            img{
                width: 16px;
                height: 16px;
            }
        }
    }

    .des {
        .label{
            font-weight: 500;
            margin-bottom: 8px;
        }
        p{
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.3;
        }
    }
}
