$font-family: "Roboto", sans-serif;

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

input,
button,
textarea {
    color: #3e3f42;
    font-size: 14px;
    font-family: $font-family;
}

.btn::-moz-focus-inner,
input[type="text"]::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}

button:disabled {
	opacity: 0.6;
	overflow: hidden;
	cursor: not-allowed;
}
button:hover {
	cursor: pointer;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}
